#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.6); /* bianco con opacità */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.hiddenElement {
  display: none !important;
}

.custom-select-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: left;
}

.custom-select-text {
  flex-grow: 1;
}

.custom-select-text .line1 {
  font-weight: bold;
}

.custom-select-text .line2 {
  font-size: 0.85rem;
  font-style: italic;
  color: #e0e0e0;
}

.custom-caret {
  margin-left: auto;
  padding-left: 0.5rem;
}

.dropdown-menu.scrollable-menu {
  max-height: 250px;
  overflow-y: auto;
  width: 100%;
}

.dropdown-menu .dropdown-item {
  white-space: normal;
}