#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.6); /* bianco con opacità */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.hiddenElement {
  display: none !important;
}

.custom-select-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: left;
}

.custom-select-button span {
  flex-grow: 1;
  text-align: left;
}

.custom-caret {
  margin-left: auto;
}

.dropdown-menu .dropdown-item {
  white-space: normal;
}
