#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.4); /* bianco con opacità */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.hiddenElement {
  display: none !important;
}

.custom-select-wrapper {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.custom-select {
  position: relative;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  cursor: pointer;
}

.custom-select .selected {
  padding: 10px;
  font-size: 16px;
  color: #333;
}

.custom-select .options {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
}

.custom-select .options div {
  padding: 10px;
  cursor: pointer;
}

.custom-select .options div:hover {
  background-color: #f0f0f0;
}

.custom-select.open .options {
  display: block;
}
